<h1 class="main-head">Well Well Well Look Who is in a Hurry!!!</h1>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="panel panel-prank">
      <div class="panel-heading">
        <ul>
          <p>I gave Creditials to All of my Loved ones. &#10084;</p>
          <p>If you dont't Have Yours then That means</p>
          <ul>
            <li>I don't Love You</li>
            <li>I don't Like You</li>
          </ul>
          <p></p>
          <p>Okay Okay Okay If You are still Insisting me then Just Contact me.</p>
          <p></p>
          <p>You know where to find me Right?</p>
        </ul>
      </div>
    </div>
  </div>
</div>