<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <title>About US</title>
</head>

<body>
<div class="main-head">
  <h4 class="center">
    <strong>About Us</strong>
  </h4>
</div>

<div>
  <div class="well col-xs-8 col-xs-offset-2">
    Hii Guys i am Alfaaz Khan, Computer Science Engineer and a Ruby Lover.
    This Web-App is developed using "Ruby On Rails".
    Ruby ob Rails is a Web Framework of Ruby Language and it is used to
    develop dynamic Websites.

    Its my 2019 Resolution to learn Ruby and along with that I have some more:
    <ul>
      <li>To get Rid of Double Chin</li>
      <li>To Learn One musical Instrument</li>
      <li>To get a Rails Client Project</li>
    </ul>
  </div>
</div>

</body>
</html>