$navbar-default-bg:#1c344e;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  color: #fff;
  float: left;
  font-size: 2em;
  text-shadow: #999999;
  font-weight: bold;
  font-family: "Poor Richard";
  letter-spacing: 2px;
}

#logo:hover{
  color: #DADADA;
}

#link{
  color: #ffffff;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('jtron.png');
  background-size: cover;
  height: 500px;
  image-resolution: snap;
  image-rendering: smooth;
}

.jumbotron h1{
  color: #000000;
  text-shadow: #999999;
  font-weight: bold;
  font-family: "Poor Richard";
  letter-spacing: 2px;
}

.main-head{
  color: #666666;
  text-align: center;
  font-family: "Poppins Black";
  font-size: 2em;
}

.btn-prop{
  color: #ffffff;
  background-color: #000000;
  font-size: 2em;
  font-family: "Snap ITC";
}

.btn-prop:hover{
  background-color: #ffffff;
  color: #000000;

}
.movie-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description{
  margin-top: 0px;
}

.footer{
  border-top: 1px solid #2E2F30;
  margin-top: 3em;
  padding-top: 1em;
  color: #730E15;
}

footer ul{
  float: right;
}

footer ul li{
  float: left;
}

footer:small{
  float: left;
}