<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy;  : <a href="https://www.instagram.com/i_am_alfaaz">Alfaaz Khan</a>
    </small>
  <nav>
    <ul>
      <li><%= link_to 'HomePage', root_path%></li><br>
    <li><%= link_to 'About Us', about_path%></li>
    </ul>
  </nav>
  </footer>
</div>